//Custom vars 
 
$primary:#00FFF5;
$primary-dark:#00ADB5;
$secondary:#393E46;
$secondary-dark:#222831;
$plain-text: #EDF1FF;
$body-color:#EDF1FF;
$font-family-base:'Noto Sans', sans-serif;
$navbar-light-color:#393E46;
$navbar-light-active-color:#00fff5;
$nav-link-hover-color:#00ADB5;
$link-hover-color:#00ADB5;

@import '../node_modules/bootstrap/scss/bootstrap';
@import '../sass/custom_mixins';
@import '../sass/custom_keyframes';
//Custom css
*{
    box-sizing: border-box;
}
body{
    background: radial-gradient(circle, rgba(2,2,3,1) 10%, rgba(27,37,40,1) 54%, rgba(2,0,36,1) 100%);
    overflow-x: hidden;
}
// NAVBAR
.menu{
    position:relative;
    div{
        ul{
            display:flex;
            padding:1rem;
            gap:2rem;
            width:70%;
            list-style-type:none;
            li{
                @include hover-navbar();
            }
        }
    }
}
//Desktop only 
@media screen and(min-width:768px){
    .sticky-nav{
        position:fixed;
        top:0;
        background-color: $secondary-dark;
        z-index:20;
     }
     #socials{
        button{
            svg{        
                color:$navbar-light-color;
            }
        }
     }
}
//Mobile button 
.mobile-nav{
    display:none;
}
@media screen and(max-width:768px){
    .mobile-nav{
        display: block;
        cursor:pointer;
        background-color: transparent;
        position:fixed;
        z-index:10;
        .mobile-nav-box{
            position:relative;
            width:2em;
            height:2em;
            span{
                content:'';
                position:absolute;
                background-color:$primary;
                width:100%;
                height:2px;
                top:50%;
                left:0px;
                &:before, &:after{
                    content:'';
                    position: absolute;
                    height:2px;
                    background-color:$primary;
                    width:100%;
                    left:0px;
                }
                &:before{
                    transform:translateY(8px);
                }
                &:after{
                    transform:translateY(-8px);
                }

            }
        }
        &:active{
            border-style:none;
        }
    }
    .mobile-nav--active{
        div{
            span{
                transition: opacity .3 ease-in;
                &:after{
                    transform:rotate(-45deg)
                }
                &:before{
                    transform:rotate(45deg);
                }
            }
            
        }
    }
    .menu-list-wrapper{
        position:fixed;
        opacity:0;
    }
    
}
.navbar-nav{
    gap:10px;
    li{
        //Underline control 
        @include hover-navbar();
}
}
#navbarNav{
    font-family: 'Nunito', sans-serif;
}
.custom-nav-position{
    @include media-breakpoint-md-stick-right();
}
// Website Icons 
#logo{
    transition: all .3s ease-in-out;
    width:90%;
    opacity:.5;
    &:hover{
        opacity:1;
    }
}

#socials{
    @include media-brakepoint-md-set-vertical();
    button{
        svg{
          @include social-btn();
        }
    }
}
.social-btn{
    @include social-btn();
}
#skillPage{
    opacity:0;
}
#skill-header{
    transform:translate(-20px);
}
#skillset{
    position:relative;
}

#centered{
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
[data-index="0"]{

    animation-name: rotateX;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
[data-index="1"]{

    animation-name: rotateX2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
[data-index="2"]{

    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
[data-index="3"]{

    animation-name: rotate3d2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
[data-index="4"]{

    animation-name: rotate3d2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
[data-index="5"]{

    animation-name: rotate3d2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
[data-index="6"]{

    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
[data-index="7"]{

    animation-name: dissapear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
[data-index="8"]{

    animation-name: rotateX2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
// Breaks 
.divider{
     height: 40vh;
}
.title{
    border-right: 6px solid $primary-dark;
    padding-right:10px;
    color:#00FFF5;
}

// Layers 
.front{
    z-index:5;
}

//media custom 

