//Custom vars 
 
$primary:#00FFF5;
$primary-dark:#00ADB5;
$secondary:#393E46;
$secondary:#222831;
$plain-text: #EDF1FF;
$body-color:#EDF1FF;

$navbar-light-color:#393E46;
$navbar-light-active-color:#00fff5;
$nav-link-hover-color:#00ADB5;
$link-hover-color:#00ADB5;

//import bootstrap 
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../sass/custom_mixins';
//Custom css 

body{
    background: radial-gradient(circle, rgba(2,2,3,1) 10%, rgba(27,37,40,1) 54%, rgba(2,0,36,1) 100%);
}
#logo{
    transition: all .3s ease-in-out;
    width:90%;
}

#socials{
    @include media-brakepoint-md-set-vertical();
    button{
        svg{
            color:$secondary;
            transform:scale(1.4);
            transition: color .3s ease-in;
            &:hover{
                color: $navbar-light-color;
            }
        }
    }
}
.custom-nav-position{
    @include media-breakpoint-md-stick-right();
}
// Breaks 
.divider{
     height: 40vh;
}
.title-div{
    content:'';
    height:100%;
    width:2px;
    color:white;
    position:absolute;

}
// Layers 
.front{
    z-index:5;
}